.colorBoard {
  display: flex;

  li {

    width: 100%;

    div {

      width: 100%;

      span {
        background: #ccc;
        color: #fff;
      }
    }

    b {
      color: red;
    }
    
  }
}